*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  font-family: "Nunito", sans-serif !important;
}
button,
input,
select {
  outline: none !important;
  font-family: "Nunito", sans-serif !important;
}

a {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

button {
  background-color: transparent;
  border: none;
}
button:hover {
  cursor: pointer;
}

@media (hover: none) {
  a:hover {
    background-color: inherit !important;
  }
}

/*---------------------------------------------------------
START LAYOUTS
----------------------------------------------------------*/
.d-flex {
  display: flex;
}
.d-inline-flex {
  display: inline-flex;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.justify-right-end {
  justify-content: flex-end;
}
.flex-grow {
  flex-grow: 1;
}
.align-center {
  align-content: center;
}
.items-center {
  align-items: center;
}
.flex-column {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}
/*---------------------------------------------------------
END LAYOUTS
----------------------------------------------------------*/

/*---------------------------------------------------------
START MARGINS AND PADDINGS
----------------------------------------------------------*/

.mb-half {
  margin-bottom: 0.5rem;
}
.mr-half {
  margin-right: 0.5rem;
}
.mr-1 {
  margin-right: 1rem;
}
.mr-2 {
  margin-right: 2rem;
}
.mr-3 {
  margin-right: 3rem;
}
.mr-4 {
  margin-right: 4rem;
}
.ml-1 {
  margin-left: 1rem;
}
.ml-half {
  margin-left: 0.5rem;
}
.ml-2 {
  margin-left: 2rem;
}
.ml-3 {
  margin-left: 3rem;
}
.ml-4 {
  margin-left: 4rem;
}
.mb-1 {
  margin-bottom: 1rem;
}
.m-0 {
  margin: 0;
}
/*---------------------------------------------------------
END MARGINS AND PADDINGS
----------------------------------------------------------*/

/*---------------------------------------------------------
START OF TEXTS
----------------------------------------------------------*/
.text-white {
  color: #fff;
}
.text-yellow {
  color: #e39419;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}

.section-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.3rem;
}
.section-caption {
  margin-bottom: 1.5rem;
  color: #999;
  font-size: 0.9rem;
}

.text-wrap {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 1.5rem;
  width: auto;
}
/*---------------------------------------------------------
END OF TEXTS
----------------------------------------------------------*/

/*---------------------------------------------------------
START WIDTHS
----------------------------------------------------------*/
.w-100 {
  width: 100%;
}
.w-25 {
  width: 25%;
}
.w-50 {
  width: 50%;
}
/*---------------------------------------------------------
END WIDTHS
----------------------------------------------------------*/

/*---------------------------------------------------------
START DISPLAY
----------------------------------------------------------*/
.h-list li {
  display: inline;
}

.d-block {
  display: block;
}
.d-inline-block {
  display: inline-block;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s linear;
}
.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}
.d-none {
  display: none;
}
/*---------------------------------------------------------
END DISPLAY
----------------------------------------------------------*/

/*---------------------------------------------------------
START SVG OVERRIDES
----------------------------------------------------------*/

.transparent-btn svg path {
  fill: #fff !important;
}

.sign-in-sign-up-link svg path {
  fill: #fff !important;
}

.more-info-btn svg path,
.more-info-btn svg circle {
  fill: #fff !important;
}

.cart-info svg path {
  fill: #333 !important;
  stroke: #333 !important;
}

a.large-link svg path {
  stroke-width: 24px;
  stroke: #212121;
}
a.small-link svg path {
  stroke-width: 30px;
  stroke: #616161;
}

a.large-link.auth svg path {
  stroke-width: 1px;
  stroke: #e39419;
  fill: #e39419 !important;
}
a.large-link.home svg path {
  stroke: #ca3114;
  fill: #ca3114 !important;
}
a.large-link.help svg path {
  stroke-width: 14px;
  stroke: #212121;
}

a.large-link.about svg path {
  stroke-width: 10px;
  stroke: #212121;
}
.more-info-modal svg path {
  stroke-width: 20px;
  stroke: #e39419;
  fill: #e39419 !important;
}
.location-search-btn svg path {
  stroke: #e39419;
  fill: #e39419 !important;
}
.nav-location-search-btn .flex-items-center svg path {
  stroke: #212121;
  stroke-width: 10px;
}
/*---------------------------------------------------------
END SVG OVERRIDES
----------------------------------------------------------*/
