*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  font-family: "Nunito", sans-serif !important;
}
button,
input,
select {
  outline: none !important;
}
.d-flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.flex-grow {
  flex-grow: 1;
}
.align-center {
  align-content: center;
}
.items-center {
  align-items: center;
}
button {
  background-color: transparent;
  border: none;
}
button:hover {
  cursor: pointer;
}

.mr-half {
  margin-right: 0.5rem;
}
.mr-1 {
  margin-right: 1rem;
}
.mr-2 {
  margin-right: 2rem;
}
.mr-3 {
  margin-right: 3rem;
}
.mr-4 {
  margin-right: 4rem;
}
.ml-1 {
  margin-left: 1rem;
}
.ml-half {
  margin-left: 0.5rem;
}
.ml-2 {
  margin-left: 2rem;
}
.ml-3 {
  margin-left: 3rem;
}
.ml-4 {
  margin-left: 4rem;
}

.nav-location-search-btn {
  padding: 0.7rem 2.5rem;
}
.nav-location-search-btn:hover {
  background-color: #e8e8e8;
}
.sign-in-sign-up-link {
  background: #ca3114;
  font-size: 1rem;
  padding: 0 2rem;
  box-shadow: 0 15px 30px -10px rgb(202 49 20 / 60%);
  border: 0;
  color: #fff;
  transition: background 0.7s ease;
  border-radius: 5px;
  text-decoration: none;
  height: 43px;
}
.sign-in-sign-up-link svg path {
  fill: #fff !important;
}

.search-form {
  position: relative;
}
.search-form:hover {
  cursor: text;
}
.search-form label {
  transition: all 0.5s ease;
  position: absolute;
  left: 10px;
  top: 14px;
  color: #656363;
}
.search-form label:hover {
  cursor: text;
}
.search-form label.active {
  transition: all 0.5s ease;
  position: absolute;
  left: 10px;
  font-size: 10px;
  top: 6px;
}
.search-form label.set-color {
  color: #e39419;
}
.search-form input {
  height: 43px;
  background-color: #fff;
  border-radius: 4px;
  font-size: 14px;
  padding: 14px 60px 2px 10px;
  line-height: 24px;
  border: 1px solid #969594;
}
.search-form.active::before {
  transition: all 0.5s ease;
  position: absolute;
  border: 3px solid #e39419;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  content: "";
  border-radius: 5px;
}

.search-form input:focus {
}
.search-btn {
  background-color: #fff;
  position: absolute;
  right: 2px;
  /*width: 40px;*/
  height: 39px;
  top: 2px;
  font-size: 20px;
  padding: 0 0.8rem;
}
.w-100 {
  width: 100%;
}
.w-25 {
  width: 25%;
}

.menu-toggle {
  padding: 0 1.5rem;
  height: 43px;
  background-color: red;
  border-radius: 75%;
  font-size: 20px;
}
.h-list li {
  display: inline;
}
.text-white {
  color: #fff;
}
.text-yellow {
  color: #e39419;
}
.m-0 {
  margin: 0;
}
.d-block {
  display: block;
}
.d-inline-block {
  display: inline-block;
}
.mb-1 {
  margin-bottom: 1rem;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.transparent-btn svg path {
  fill: #fff !important;
}
.more-info-btn svg path,
.more-info-btn svg circle {
  fill: #fff !important;
}

.dropdown.stores .dropdown-btn {
  color: #e39419;
  background-color: transparent;
  padding: 0 2rem;
  text-align: center;
}
.dropdown.stores .dropdown-buttons {
  border-color: #e39419 !important;
  color: #e39419 !important;
}

.dropdown.delivery .dropdown-btn {
  color: #fff;
  background-color: transparent;
  padding: 0 1rem;
  text-align: left;
}
.dropdown.delivery .dropdown-buttons {
  height: 43px !important;
  background-color: #fff;
  border-color: #fff !important;
  color: #333 !important;
}
.dropdown.delivery .dropdown-buttons .dropdown-btn {
  color: #333 !important;
}
.dropdown.delivery .dropdown-buttons .toggle-icon {
  border-left: 1px solid #999 !important;
}
.dropdown.stores .dropdown-buttons .toggle-icon {
  border-left: 1px solid #5a3e13 !important;
}
.dropdown.delivery .dropdown-content {
  top: 48px;
}
.dropdown.stores .dropdown-content {
  top: 45px;
}
